{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
          <div class="card-body text-center">
            <h1 class="card-title">{{ setting }}</h1>
          </div>

        <div class="card-body">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} text-center" role="alert">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

          <!-- Render the forms based on the setting -->
          {{ render_form(reset_form, novalidate=True) }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
